$color-background-light: #ffffff;
$color-background-medium: #f0f0f0;
$color-background-dark: #000000;
$color-font-light: #ffffff;
$color-font-medium: #6e6969;
$color-font-dark: #000000;
$color-border: #c4bebe;
$color-accent: #f0f0f0;
$font-headers: "Georgia";
$font-paragraph: "Arial";